parameters:
    reportUnmatchedIgnoredErrors: false

    level: max

    paths:
        - src
        - tests/Unit

    ignoreErrors:
        - identifier: argument.type
          path: src/DependencyInjection/SyliusGtmEnhancedEcommerceExtension.php
        - identifier: foreach.nonIterable
          path: src/DependencyInjection/SyliusGtmEnhancedEcommerceExtension.php
        - identifier: argument.type
          path: src/EventListener/CheckoutStepListener.php
        - identifier: cast.string
          path: src/Helper/ProductIdentifierHelper.php
        - identifier: binaryOp.invalid
          path: src/TagManager/Cart.php
        - identifier: argument.type
          path: src/TagManager/ViewItemList.php
        - identifier: arrayFilter.strict
          path: src/TagManager/ViewItemList.php
        - identifier: argument.type
          path: tests/Unit/EventListener/ThankYouListenerTest.php
        - identifier: argument.type
          path: tests/Unit/TagManager/AddTransactionTest.php
        - identifier: offsetAccess.nonOffsetAccessible
          path: tests/Unit/TagManager/AddTransactionTest.php
        - identifier: cast.string
          path: src/Factory/GtmItemFactory.php
        - identifier: offsetAccess.nonOffsetAccessible
          path: src/Provider/ViewItemProvider.php
        - identifier: argument.type
          path: tests/Unit/Provider/ViewItemProviderTest.php
        - identifier: offsetAccess.nonOffsetAccessible
          path: tests/Unit/Provider/ViewItemProviderTest.php
        - identifier: staticMethod.dynamicCall
          path: tests/Unit/TagManager/ViewItemTest.php
        - identifier: argument.type
          path: tests/Unit/TagManager/ViewItemTest.php
        - identifier: offsetAccess.nonOffsetAccessible
          path: tests/Unit/TagManager/ViewItemTest.php
        - identifier: missingType.generics
          path: tests/Unit/TagManager/ViewItemListTest.php
        - identifier: argument.type
          path: tests/Unit/TagManager/ViewItemListTest.php
        - identifier: offsetAccess.nonOffsetAccessible
          path: tests/Unit/TagManager/ViewItemListTest.php
        - message: '/Method StefanDoorn\\SyliusGtmEnhancedEcommercePlugin\\Service\\SessionPersistentGoogleTagManager::(addPush|getPush|getData)\(\) .+ type specified.*\./'
          path: src/Service/SessionPersistentGoogleTagManager.php
        - message: '/Call to an undefined method Xynnn\\GoogleTagManagerBundle\\Service\\GoogleTagManagerInterface::reset\(\)\./'
          path: src/Service/SessionPersistentGoogleTagManager.php
