parameters:
    reportUnmatchedIgnoredErrors: false

    level: max

    paths:
        - src
        - tests/Unit

    excludePaths:
        - src/TagManager/AddTransaction.php

    ignoreErrors:
        - identifier: argument.type
          path: src/DependencyInjection/SyliusGtmEnhancedEcommerceExtension.php
        - identifier: foreach.nonIterable
          path: src/DependencyInjection/SyliusGtmEnhancedEcommerceExtension.php
        - identifier: argument.type
          path: src/EventListener/CheckoutStepListener.php
        - identifier: cast.string
          path: src/Helper/ProductIdentifierHelper.php
        - identifier: argument.type
          path: tests/Unit/EventListener/ThankYouListenerTest.php

        - message: "/Cannot access offset ('price'|0) on mixed\\./"
          path: src/Provider/ViewItemProvider.php
        - identifier: return.unusedType
          path: src/Factory/GtmEcommerceFactory.php
        - identifier: return.type
          path: src/Factory/GtmEcommerceFactory.php
        - message: '/Method StefanDoorn\\SyliusGtmEnhancedEcommercePlugin\\Service\\CachedGoogleTagManager::(addPush|getPush|getData)\(\) .+ type specified.*\./'
          path: src/Service/CachedGoogleTagManager.php
        - message: '/Call to an undefined method Xynnn\\GoogleTagManagerBundle\\Service\\GoogleTagManagerInterface::reset\(\)\./'
          path: src/Service/CachedGoogleTagManager.php
