parameters:
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/appDevDebugProjectContainer.xml
    excludes_analyse:
        # Makes PHPStan crash
        - '**/DependencyInjection/Configuration.php'
        # Behat
        - '**/Behat/*'

includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
