services:
    _defaults:
        autowire: false
        autoconfigure: false
        public: false

    sylius.google_tag_manager.enhanced_ecommerce.tracking.google_implementation_enabled:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Helper\GoogleImplementationEnabled
        arguments:
            - "%sylius_gtm_enhanced_ecommerce.google.ua"
            - "%sylius_gtm_enhanced_ecommerce.google.ga4"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.tag_manager.add_transaction:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\TagManager\AddTransaction
        arguments:
            - "@google_tag_manager"
            - "@sylius.context.channel"
            - "@sylius.context.currency"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier"
            - "@sylius.google_tag_manager.enhanced_ecommerce.tracking.google_implementation_enabled"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.tag_manager.view_item:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\TagManager\ViewItem
        arguments:
            - "@google_tag_manager"
            - "@sylius.context.channel"
            - "@sylius.context.currency"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier"
            - "@sylius.product_variant_resolver.default"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_variant_price"
            - "@sylius.google_tag_manager.enhanced_ecommerce.tracking.google_implementation_enabled"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.tag_manager.view_item_list:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\TagManager\ViewItemList
        arguments:
            - "@google_tag_manager"
            - "@sylius.repository.product"
            - "@sylius.context.channel"
            - "@sylius.context.locale"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier"
            - "@sylius.product_variant_resolver.default"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_variant_price"
            - "@sylius.google_tag_manager.enhanced_ecommerce.tracking.google_implementation_enabled"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.tag_manager.checkout_step:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\TagManager\CheckoutStep
        arguments:
            - "@google_tag_manager"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier"
            - "@sylius.context.channel"
            - "@sylius.context.currency"
            - "@sylius.google_tag_manager.enhanced_ecommerce.tracking.google_implementation_enabled"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.tag_manager.cart:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\TagManager\Cart
        arguments:
            - "@google_tag_manager"
            - "@sylius.context.channel"
            - "@sylius.context.currency"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier"
            - "@sylius.google_tag_manager.enhanced_ecommerce.tracking.google_implementation_enabled"

    sylius.google_tag_manager.enhanced_ecommerce.tracking.resolver.product_detail_impression_data:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Resolver\ProductDetailImpressionDataResolver
        arguments:
            - "@sylius.calculator.product_variant_price"
            - "@sylius.context.channel"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.object.factory.product_detail_impression"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.object.factory.product_detail"
            - "@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.resolver.checkout_step:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Resolver\CheckoutStepResolver

    sylius.google_tag_manager.enhanced_ecommerce_tracking.tag_manager.currency_code:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\TagManager\CurrencyCode
        arguments:
            - "@google_tag_manager"
            - "@sylius.context.currency"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.global.listener.sylius.shop.layout.head:
        class: Sylius\Bundle\UiBundle\Block\BlockEventListener
        arguments:
            - '@@SyliusGtmEnhancedEcommercePlugin/Global/head.html.twig'
        tags:
            - { name: kernel.event_listener, event: sonata.block.event.sylius.shop.layout.head, method: onBlockEvent }

    sylius.google_tag_manager.enhanced_ecommerce_tracking.object.factory.product_detail:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Object\Factory\ProductDetailFactory

    sylius.google_tag_manager.enhanced_ecommerce_tracking.object.factory.product_detail_impression:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Object\Factory\ProductDetailImpressionFactory
        
    sylius.google_tag_manager.enhanced_ecommerce_tracking.twig.extension.parameters:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Twig\ParameterExtension
        arguments:
            - "%sylius_gtm_enhanced_ecommerce.features.purchases%"
            - "%sylius_gtm_enhanced_ecommerce.features.product_impressions%"
            - "%sylius_gtm_enhanced_ecommerce.features.product_detail_impressions%"
            - "%sylius_gtm_enhanced_ecommerce.features.product_clicks%"
            - "%sylius_gtm_enhanced_ecommerce.features.cart%"
            - "%sylius_gtm_enhanced_ecommerce.features.checkout%"
        tags:
            - { name: "twig.extension" }

    sylius.google_tag_manager.enhanced_ecommerce_tracking.twig.extension.product_identifier:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Twig\ProductIdentifierExtension
        arguments:
            - '@sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier'
        tags:
            - { name: "twig.extension" }

    sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_identifier:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Helper\ProductIdentifierHelper
        arguments:
            - "%sylius_gtm_enhanced_ecommerce.product_identifier%"

    sylius.google_tag_manager.enhanced_ecommerce_tracking.helper.product_variant_price:
        class: StefanDoorn\SyliusGtmEnhancedEcommercePlugin\Helper\ProductVariantPriceHelper
        arguments:
            - "@sylius.calculator.product_variant_price"
            - "@sylius.context.channel"
